body{
    background-color: coral;
    font-family: 'Open Sans', sans-serif;
    text-align: justify;
    font-size: 20px;
}
#fotoperfil{
    display:block;
    margin:auto;
    width: 150px;
    align-items: center;
}
#general{
    width: 60%;
    margin: auto;
    background-color:cornsilk;
    border-radius: 1%;
    border: solid black;
    padding-left: 5%;
    padding-right: 5%;
}
.grid{
    display: grid;
    grid-template-columns: 50% 50%;
    max-width: 100%;
}
.card{
    border-radius: 5px;
    box-shadow: 3px  4px 8px 3px rgba(0,0,0,0.2);
    transition: 0.3s;
    padding: 5%;
    margin: 1%;
}
.card:hover {
    box-shadow: 6px 8px 16px 6px rgba(0,0,0,0.2);
  }
#navegador{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    max-width: 100%;
    text-align: center;
}
#encabezado{
    max-width: 100%;
    text-align: center;
    font-size: large;
}
#pie{
    max-width: 100%;
    text-align: center;
    font-size: small;
}
fieldset{
    margin-bottom: 12px;
    border: solid black;
    border-radius: 2%;
}
legend{
    border: solid black;
    background-color:burlywood;
    padding: 5px;
    border-radius: 20px;
    font-weight: bold;
}